<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coca Cola</title>

    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="img"></div>

            <div class="nabvar">
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="./novelties.html">Novedades</a></span>
                <span><a href="./products.html">Productos</a></span>
                <span><a href="./about.html">Nosotros</a></span>
                <div class="form">
                    <input type="text" placeholder="Buscar..." class="input_search">
                    <input type="submit" class="btn_search" value="">
                </div>
            </div>
        </header>
    
        <article class="items">
            <h2 class="title">¿Quiénes somos?</h2>

            <section>
                <div class="body_card">
                    <p class="text_card">
                        Coca-Cola es una bebida azucarada gaseosa vendida a nivel mundial en tiendas, 
                        restaurantes y máquinas expendedoras en más de doscientos países o territorios. Es el 
                        principal producto de The Coca-Cola Company, de origen estadounidense. En un 
                        principio, cuando la inventó el farmacéutico John Pemberton, fue concebida como una 
                        bebida medicinal patentada, aunque fue adquirida posteriormente por el empresario 
                        Asa Griggs Candler, que hizo de la bebida una de las más consumidas del siglo xx, y del 
                        siglo xxi.
                        <br />
                        <br />
                        La compañía produce un concentrado que luego vende a varias empresas 
                        embotelladoras licenciadas, las cuales mezclan el concentrado con agua filtrada y 
                        edulcorantes para, posteriormente, vender y distribuir la bebida en latas y botellas de 
                        plástico o de vidrio en los comercios.
                        <br />
                        <br />
                        Es la marca más comprada a nivel mundial, y su mayor competidora es Pepsi, también 
                        una bebida estadounidense. Entre otras cosas, además del color rojo predominante en 
                        sus etiquetas, es reconocida también gracias a su estilizada botella, presentada en el 
                        año 1915, cuyo diseño sigue siendo de exclusividad para el producto, en casi todas las 
                        formas en las que es ofrecido
                        <br />
                        <br />
                    </p>
                </div>
            </section>

            <img src="../resources/tiny/about_banner.jpg" alt="">

        </article>

        <footer class="footer">
            <div class="superior_view">
                <div class="img"></div>
                <div class="comunity_icons"></div>
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 Coca Cola Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>