<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coca Cola</title>

    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/novelties.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="img"></div>

            <div class="nabvar">
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="./novelties.html">Novedades</a></span>
                <span><a href="./products.html">Productos</a></span>
                <span><a href="./about.html">Nosotros</a></span>
                <div class="form">
                    <input type="text" placeholder="Buscar..." class="input_search">
                    <input type="submit" class="btn_search" value="">
                </div>
            </div>
        </header>
        
        <article class="banner"></article>

        <article class="items">
            <h2 class="title">¡LA NUEVA COCA-COLA ZERO!</h2>

            <section>
                <div class="body_card">
                    <p class="text_card">
                        Coca-Cola Zero es una bebida producida por The Coca-Cola Company, que es una versión de 
                        Coca-Cola sin azúcar. Su eslogan es "Zero calorías", sin embargo, en otros países también se 
                        conoce como "Zero azúcar".
                    </p>
                </div>
            </section>

            <section>
                <div class="body_card">
                    <p class="text_card">
                        <strong>Ingredientes</strong>

                        <br />

                        La Coca-Cola Zero es endulzada con los edulcorantes aspartame y acesulfame-K:

                        <br />
                        <br />
                        
                        <ul>
                            <li>
                                Aspartamo (APM): El aspartamo es una combinación de dos 
                                aminoácidos: fenilalanina y ácido aspártico. Es un edulcorante 
                                peptídico artificial utilizado en la industria de la alimentación como 
                                endulzante. El aspartamo está aprobado en más de 150 países de todo 
                                el mundo. Un reciente análisis exhaustivo por parte de la Autoridad 
                                Europea de Seguridad Alimentaria (European Food Safety Authority, 
                                EFSA) determinó a finales del 2008 la seguridad del aspartamo.
                            </li>
                            <br />
                            <br />
                            <li> 
                                Acesulfamo Potásico (Ace-K):2 Se usa en alimentos, bebidas y 
                                productos de higiene bucal y farmacéuticos alrededor de 90 países. 
                                Es un compuesto químico relativamente sencillo, descubierto casi 
                                por azar en 1967. Es aproximadamente 200 veces más dulce que el 
                                azúcar, con una gran estabilidad ante los tratamientos tecnológicos y 
                                durante el almacenamiento.
                            </li>
                        </ul>
                    </p>
                </div>
                <img src="../resources/tiny/a.png" alt="">
            </section>

            <section>
                <div class="body_card">
                    <p class="text_card">
                        Coca-Cola Zero ha sido el mayor lanzamiento de The Coca-Cola Company en los últimos 22 
                        años.8 Fue lanzada en España el miércoles 21 de junio de 2006. Sus comerciales han sido 
                        diseñados para un público masculino joven y han sido promocionados bajo las premisas de 
                        “Zero calorías” o “Zero azúcar”.
                        
                        <br />
                        <br />

                        Para la marca han realizado comerciales personalidades como Cheryl Cole y Sarah Harding. 
                        Durante el año 2008, fue el principal patrocinador de NASCAR Sprint Cup Series y Daytona 
                        International Speedway. En 2009, Coca-Cola Zero colaboró con Twentieth Century Fox para 
                        poner en marcha una campaña de mercadotecnia en todo el mundo para promover la película 
                        Avatar. Se realizó en Internet, en el sitio web AVTR.com, y botellas y latas de Coca-Cola Zero 
                        marcadas especialmente eran expuestas por una webcam la cual permitía a los usuarios a 
                        interactuar con los elementos en 3D a modo de realidad aumentada.
                        
                        <br />
                        <br />

                        En México, Coca-Cola Zero ha buscado generar una experiencia divertida, como la campaña de 
                        "Típicos" que ha contado con la participación de personalidades como Adal Ramones en el 
                        momento de su lanzamiento, y posteriormente con Belinda y Carlos Vela, o más recientemente 
                        el futbolista "Chicharito" en la campaña ¿Por qué no? Coca-Cola Zero
                    </p>
                </div>

            </section>

            <img src="../resources/tiny/coca-cola-zero-lata.jpg" alt="">

        </article>

        <footer class="footer">
            <div class="superior_view">
                <div class="img"></div>
                <div class="comunity_icons"></div>
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 Coca Cola Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>