<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coca Cola</title>

    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/products.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="img"></div>

            <div class="nabvar">
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="./novelties.html">Novedades</a></span>
                <span><a href="./products.html">Productos</a></span>
                <span><a href="./about.html">Nosotros</a></span>
                <div class="form">
                    <input type="text" placeholder="Buscar..." class="input_search">
                    <input type="submit" class="btn_search" value="">
                </div>
            </div>
        </header>
    
        <article class="items">
            <h2 class="title">Nuestros productos</h2>

            <div class="title_card">Coca-Cola</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/1.1.png" alt="">
                </div>
                <img src="../resources/tiny/1.png" alt="">
            </section>
            
            <div class="title_card">Coca-Cola Sin Azúcar</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/2.1.png" alt="">
                </div>
                <img src="../resources/tiny/2.png" alt="">
            </section>

            <div class="title_card">Fanta Naranja
            </div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/3.1.png" alt="">
                </div>
                <img src="../resources/tiny/3.png" alt="">
            </section>

            <div class="title_card">Fanta Guaraná</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/4.1.png" alt="">
                </div>
                <img src="../resources/tiny/4.png" alt="">
            </section>

            <div class="title_card">Fanta Piña
            </div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/5.1.png" alt="">
                </div>
                <img src="../resources/tiny/5.png" alt="">
            </section>

            <div class="title_card">Fanta Naranja Mandarina</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/6.1.png" alt="">
                </div>
                <img src="../resources/tiny/6.png" alt="">
            </section>

            <div class="title_card">Fanta Naranja Sin Azúcares
            </div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/7.1.png" alt="">
                </div>
                <img src="../resources/tiny/7.png" alt="">
            </section>

            <div class="title_card">Sprite</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/8.1.png" alt="">
                </div>
                <img src="../resources/tiny/8.png" alt="">
            </section>

            <div class="title_card">Powerade Mountain Blast</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/9.1.png" alt="">
                </div>
                <img src="../resources/tiny/9.png" alt="">
            </section>

            <div class="title_card">Powerade Multifrutas</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/10.1.png" alt="">
                </div>
                <img src="../resources/tiny/10.png" alt="">
            </section>

            <div class="title_card">Powerade Multifrutas</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/11.1.png" alt="">
                </div>
                <img src="../resources/tiny/11.png" alt="">
            </section>

            <div class="title_card">Powerade Manzana</div>

            <section>
                <div class="body_card">
                    <img src="../resources/tiny/12.1.png" alt="">
                </div>
                <img src="../resources/tiny/12.png" alt="">
            </section>

        </article>

        <footer class="footer">
            <div class="superior_view">
                <div class="img"></div>
                <div class="comunity_icons"></div>
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 Coca Cola Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>